{% extends 'layout.html.twig' %}

{% block contenu %}
    <h1>Ville creation</h1>

    {{ form_start(formVille) }}
        {{ form_widget(formVille) }}
        <input type="submit" value="Create" />
    {{ form_end(formVille) }}

    <ul>
        <li>
            <a href="{{ path('ville_listeVilles') }}">Retour à la liste des villes</a>
        </li>
    </ul>
{% endblock %}
